<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META DATA -->
        <meta charset="UTF-8" />
        <title>SOCs reading list</title>
        <meta name="description" content="StraightOuttaCrompton reading list" />
        <meta name="keywords" content="SOC, StraightOuttaCrompton, reading, list" />
        <meta name="author" content="StraightOuttaCrompton" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

        <!-- OPEN GRAPH -->
        <meta property="og:image" content="ogimage.png" />
        <meta property="og:url" content="{{ ROOT_URL }}" />
        <meta property="og:title" content="StraightOuttaCrompton's reading list" />
        <meta property="og:description" content="A list of books I have read in recent years" />
        <meta property="og:type" content="website" />

        <!-- ICONS -->
        <!-- https://favicon.io/emoji-favicons/books/ -->

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="manifest.webmanifest" />

        <meta name="apple-mobile-web-app-title" content="StraightOuttaCrompton's reading list" />
        <meta name="application-name" content="StraightOuttaCrompton's reading list" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />

        <!-- PRELOAD -->
        <link rel="preload" href="./index.scss" as="style" crossorigin />
        <link rel="preload" href="./index.ts" as="script" crossorigin />

        <!-- RESOURCES -->
        <link rel="stylesheet" type="text/css" href="./index.scss" />

        <!-- MISC -->
        <link rel="canonical" href="{{ ROOT_URL }}" />
    </head>
    <body>
        <div class="page-section site-content">
            <div class="page-section__inner">
                <markdown src="./src/ReadingList.md"></markdown>
            </div>
        </div>

        <div class="footer">
            <div class="page-section">
                <div class="page-section__inner footer__inner">
                    <div class="last-updated"></div>

                    <a
                        href="https://gitlab.com/StraightOuttaCrompton/reading-list"
                        target="_blank"
                        class="source-code-link"
                    >
                        <span style="margin-right: 8px">
                            <svg
                                style="width: 1.5em; height: 1.5em"
                                viewBox="0 0 256 256"
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                preserveAspectRatio="xMidYMid"
                            >
                                <path
                                    fill="#de4c36"
                                    d="M251.172245,116.593517 L139.398753,4.82845302 C132.966433,-1.60948434 122.525852,-1.60948434 116.085106,4.82845302 L92.8753863,28.0381721 L122.317995,57.4807809 C129.16041,55.1690784 137.005593,56.7195763 142.460425,62.1744081 C147.940536,67.6629464 149.479799,75.5755422 147.111919,82.4404282 L175.487156,110.815665 C182.352042,108.450594 190.273064,109.98143 195.755985,115.472777 C203.418591,123.132574 203.418591,135.547794 195.755985,143.213209 C188.09057,150.878624 175.67535,150.878624 168.007126,143.213209 C162.243319,137.443783 160.81922,128.977839 163.737639,121.877008 L137.275245,95.4146135 L137.272436,165.052198 C139.140337,165.979126 140.904309,167.212221 142.460425,168.762719 C150.123031,176.422516 150.123031,188.837736 142.460425,196.508768 C134.79501,204.171375 122.374173,204.171375 114.719993,196.508768 C107.057387,188.837736 107.057387,176.422516 114.719993,168.762719 C116.613174,166.872347 118.804095,165.442631 121.141077,164.481996 L121.141077,94.1955625 C118.804095,93.2405457 116.615983,91.8192558 114.719993,89.9148396 C108.914052,84.1173254 107.518042,75.5980132 110.492639,68.4690928 L81.4713611,39.4421974 L4.83125614,116.076685 C-1.60949009,122.52024 -1.60949009,132.960821 4.83125614,139.398759 L116.604747,251.166631 C123.039876,257.604569 133.477648,257.604569 139.921203,251.166631 L251.172245,139.9184 C257.61018,133.477654 257.61018,123.031455 251.172245,116.593517"
                                />
                            </svg>
                        </span>
                        Source&nbsp;code
                    </a>
                </div>
            </div>
        </div>

        <script defer src="./index.ts"></script>
    </body>
</html>
